{{ form_row(form.notes, sylius_test_form_attribute('extra-notes')|merge({'rows': 3})) }}
{% if form.blik_code is defined %}
    <div class="three wide field">
        {{ form_row(form.blik_code, {'attr': {'maxlength': '6', 'type': 'number'}}) }}
    </div>

{% endif %}
