@import './selectPaymentMethod.scss';

.disabled {
  display: none;
}

.removeArrows {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
